/* flex.css */
/* FLEX HELPERS */

/* Estructura base */
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
  
/* Dirección */
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-col-reverse {
    flex-direction: column-reverse;
}
  
/* Alineación (horizontal y vertical) */
.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.items-start {
    align-items: flex-start;
}
.items-center {
    align-items: center;
}
.items-end {
    align-items: flex-end;
}
.items-stretch {
    align-items: stretch;
}
